<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Análise de Dados: Visualização Interativa de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Google Data Studio;</li>
  <li>Dados;</li>
  <li>Relatório.</li>
</ol>

---

# **Exercícios**

## 1\. Contexto

Você é o analista de dados de um grande aeroporto. O time de operações precisa acompanhar o fluxo mensal de passageiros para tomar decisões sobre manutenção, obras, etc. Você propõe a construção de um *dashboard* de dados para auxiliar o time na tomada de decisão.

## 2\. Preparação

Carregue as bibliotecas Python de manipulação de dados.

In [25]:
import numpy as np
import pandas as pd
import seaborn as sns

### **2.1. Extração**

Carregue os dados de **voos** (*flights*) e responda as perguntas abaixo:

### Motivação

Pensando em trabalhar outras habilidades, busquei outro dataset na internet. Cheguei até o site da Anac - [Agência Nacional de Aviação Civil](https://www.gov.br/anac/pt-br/acesso-a-informacao/dados-abertos/areas-de-atuacao/voos-e-operacoes-aereas/dados-estatisticos-do-transporte-aereo) - onde consegui os dados estatísticos em csv contendo informações de vôos civis de 2000 até 2024. Fiquei empolgado e decidi organizar as informações e trabalhar com esse dataset. Baixei o arquivo (320mb) e fui fazendo a limpeza e tratamento dos dados. Escolhi utilizar o aeroporto que conheço e um período sem dados faltantes. Me deu trabalho mas foi prazeroso.

In [6]:
!wget -q 'https://sistemas.anac.gov.br/dadosabertos/Voos%20e%20opera%C3%A7%C3%B5es%20a%C3%A9reas/Dados%20Estat%C3%ADsticos%20do%20Transporte%20A%C3%A9reo/Dados_Estatisticos.csv' -O 'Dados_Estatisticos.csv'

O texto "Atualizado em: 2024-07-19" veio marcado como coluna e me dificultou, resolvi reescrevendo o csv.

In [104]:
# Ler o arquivo como texto
with open('Dados_Estatisticos.csv', 'r', encoding='utf-8') as file:
    lines = file.readlines()

# Exibir as primeiras linhas para inspeção
for line in lines[:10]:
    print(line)

Atualizado em: 2024-07-19

"EMPRESA_SIGLA";"EMPRESA_NOME";"EMPRESA_NACIONALIDADE";"ANO";"MES";"AEROPORTO_DE_ORIGEM_SIGLA";"AEROPORTO_DE_ORIGEM_NOME";"AEROPORTO_DE_ORIGEM_UF";"AEROPORTO_DE_ORIGEM_REGIAO";"AEROPORTO_DE_ORIGEM_PAIS";"AEROPORTO_DE_ORIGEM_CONTINENTE";"AEROPORTO_DE_DESTINO_SIGLA";"AEROPORTO_DE_DESTINO_NOME";"AEROPORTO_DE_DESTINO_UF";"AEROPORTO_DE_DESTINO_REGIAO";"AEROPORTO_DE_DESTINO_PAIS";"AEROPORTO_DE_DESTINO_CONTINENTE";"NATUREZA";"GRUPO_DE_VOO";"PASSAGEIROS_PAGOS";"PASSAGEIROS_GRATIS";"CARGA_PAGA_KG";"CARGA_GRATIS_KG";"CORREIO_KG";"ASK";"RPK";"ATK";"RTK";"COMBUSTIVEL_LITROS";"DISTANCIA_VOADA_KM";"DECOLAGENS";"CARGA_PAGA_KM";"CARGA_GRATIS_KM";"CORREIO_KM";"ASSENTOS";"PAYLOAD";"HORAS_VOADAS";"BAGAGEM_KG"

"AAL";"AMERICAN AIRLINES, INC.";"ESTRANGEIRA";"2000";"1";"";"";"";"";"";"";"KMIA";"MIAMI, FLORIDA";"";"";"ESTADOS UNIDOS DA AMÉRICA";"AMÉRICA DO NORTE";"INTERNACIONAL";"REGULAR";"152";"9";"2285";"0";"0";"";"";"";"";"";"";"";"";"";"";"";"";"";""

"AAL";"AMERICAN AIRLINES, INC.";"ESTRANGEIRA";"2000";"1";"KDFW";"DALLAS & FORT WORTH, TEXAS";"";"";"ESTADOS UNIDOS DA AMÉRICA";"AMÉRICA DO NORTE";"SBGR";"GUARULHOS";"SP";"SUDESTE";"BRASIL";"AMÉRICA DO SUL";"INTERNACIONAL";"REGULAR";"3932";"142";"97876";"0";"73";"52184500";"32415400";"8656200";"3724860";"";"247320";"30";"806890000";"0";"601812";"6330";"1050000";"409,08";""

"AAL";"AMERICAN AIRLINES, INC.";"ESTRANGEIRA";"2000";"1";"KJFK";"NEW YORK, NEW YORK";"";"";"ESTADOS UNIDOS DA AMÉRICA";"AMÉRICA DO NORTE";"SBGL";"RIO DE JANEIRO";"RJ";"SUDESTE";"BRASIL";"AMÉRICA DO SUL";"INTERNACIONAL";"REGULAR";"2338";"131";"48066";"0";"8034";"47293800";"18070400";"3586260";"2059920";"";"224141";"29";"371502000";"0";"62094800";"6119";"464000";"418,1";""

"AAL";"AMERICAN AIRLINES, INC.";"ESTRANGEIRA";"2000";"1";"KJFK";"NEW YORK, NEW YORK";"";"";"ESTADOS UNIDOS DA AMÉRICA";"AMÉRICA DO NORTE";"SBGR";"GUARULHOS";"SP";"SUDESTE";"BRASIL";"AMÉRICA DO SUL";"INTERNACIONAL";"REGULAR";"2892";"127";"194997";"0";"1980";"46896000";"22164300";"7778960";"3504400";"";"222256";"29";"1494460000";"0";"15174700";"6119";"1015000";"411,5";""

"AAL";"AMERICAN AIRLINES, INC.";"ESTRANGEIRA";"2000";"1";"KMIA";"MIAMI, FLORIDA";"";"";"ESTADOS UNIDOS DA AMÉRICA";"AMÉRICA DO NORTE";"SBCF";"CONFINS";"MG";"SUDESTE";"BRASIL";"AMÉRICA DO SUL";"INTERNACIONAL";"REGULAR";"997";"20";"91022";"493";"0";"";"";"";"";"";"";"";"";"";"";"";"";"";""

"AAL";"AMERICAN AIRLINES, INC.";"ESTRANGEIRA";"2000";"1";"KMIA";"MIAMI, FLORIDA";"";"";"ESTADOS UNIDOS DA AMÉRICA";"AMÉRICA DO NORTE";"SBGL";"RIO DE JANEIRO";"RJ";"SUDESTE";"BRASIL";"AMÉRICA DO SUL";"INTERNACIONAL";"REGULAR";"3589";"133";"29865";"6429";"34344";"43935900";"30804200";"7234210";"3815040";"";"208227";"31";"811998000";"46495100";"230689000";"6541";"1077000";"491,8";""

"AAL";"AMERICAN AIRLINES, INC.";"ESTRANGEIRA";"2000";"1";"KMIA";"MIAMI, FLORIDA";"";"";"ESTADOS UNIDOS DA AMÉRICA";"AMÉRICA DO NORTE";"SBGR";"GUARULHOS";"SP";"SUDESTE";"BRASIL";"AMÉRICA DO SUL";"INTERNACIONAL";"REGULAR";"8147";"204";"130768";"0";"7185";"83226800";"61979700";"13805400";"7065700";"";"394440";"60";"1298400000";"0";"189167000";"12660";"2100000";"937,99";""

"AAL";"AMERICAN AIRLINES, INC.";"ESTRANGEIRA";"2000";"1";"KMIA";"MIAMI, FLORIDA";"";"";"ESTADOS UNIDOS DA AMÉRICA";"AMÉRICA DO NORTE";"SGAS";"ASUNCIÓN";"";"";"PARAGUAI";"AMÉRICA DO SUL";"INTERNACIONAL";"REGULAR";"574";"29";"31273";"0";"8504";"";"";"";"";"";"";"";"";"";"";"";"";"";""

In [105]:
# Ler o arquivo original como texto e remover a linha do cabeçalho indesejado
with open('Dados_Estatisticos.csv', 'r', encoding='utf-8') as file:
    lines = file.readlines()

# Remover a primeira linha
lines_cleaned = lines[1:]

# Escrever as linhas limpas em um novo arquivo
with open('Dados_Estatisticos_Cleaned.csv', 'w', encoding='utf-8') as file:
    file.writelines(lines_cleaned)

In [106]:
# Ler o arquivo CSV limpo
Dados_Estatisticos = pd.read_csv('Dados_Estatisticos_Cleaned.csv', sep=';', low_memory=False)

# Exibir as primeiras linhas para verificar a estrutura
print(Dados_Estatisticos.head())

  EMPRESA_SIGLA             EMPRESA_NOME EMPRESA_NACIONALIDADE   ANO  MES  \
0           AAL  AMERICAN AIRLINES, INC.           ESTRANGEIRA  2000    1
1           AAL  AMERICAN AIRLINES, INC.           ESTRANGEIRA  2000    1
2           AAL  AMERICAN AIRLINES, INC.           ESTRANGEIRA  2000    1
3           AAL  AMERICAN AIRLINES, INC.           ESTRANGEIRA  2000    1
4           AAL  AMERICAN AIRLINES, INC.           ESTRANGEIRA  2000    1

  AEROPORTO_DE_ORIGEM_SIGLA    AEROPORTO_DE_ORIGEM_NOME  \
0                       NaN                         NaN
1                      KDFW  DALLAS & FORT WORTH, TEXAS
2                      KJFK          NEW YORK, NEW YORK
3                      KJFK          NEW YORK, NEW YORK
4                      KMIA              MIAMI, FLORIDA

  AEROPORTO_DE_ORIGEM_UF AEROPORTO_DE_ORIGEM_REGIAO  \
0                    NaN                        NaN
1                    NaN                        NaN
2                    NaN                        NaN
3                    NaN                        NaN
4                    NaN                        NaN

    AEROPORTO_DE_ORIGEM_PAIS  ... COMBUSTIVEL_LITROS DISTANCIA_VOADA_KM  \
0                        NaN  ...                NaN                NaN
1  ESTADOS UNIDOS DA AMÉRICA  ...                NaN           247320.0
2  ESTADOS UNIDOS DA AMÉRICA  ...                NaN           224141.0
3  ESTADOS UNIDOS DA AMÉRICA  ...                NaN           222256.0
4  ESTADOS UNIDOS DA AMÉRICA  ...                NaN                NaN

  DECOLAGENS CARGA_PAGA_KM CARGA_GRATIS_KM CORREIO_KM ASSENTOS    PAYLOAD  \
0        NaN           NaN             NaN        NaN      NaN        NaN
1       30.0     806890000               0     601812   6330.0  1050000.0
2       29.0     371502000               0   62094800   6119.0   464000.0
3       29.0    1494460000               0   15174700   6119.0  1015000.0
4        NaN           NaN             NaN        NaN      NaN        NaN

  HORAS_VOADAS  BAGAGEM_KG
0          NaN         NaN
1       409,08         NaN
2        418,1         NaN
3        411,5         NaN
4          NaN         NaN

[5 rows x 38 columns]

In [107]:
# Identificar colunas relevantes
Dados_Estatisticos.columns

Index(['EMPRESA_SIGLA', 'EMPRESA_NOME', 'EMPRESA_NACIONALIDADE', 'ANO', 'MES',
       'AEROPORTO_DE_ORIGEM_SIGLA', 'AEROPORTO_DE_ORIGEM_NOME',
       'AEROPORTO_DE_ORIGEM_UF', 'AEROPORTO_DE_ORIGEM_REGIAO',
       'AEROPORTO_DE_ORIGEM_PAIS', 'AEROPORTO_DE_ORIGEM_CONTINENTE',
       'AEROPORTO_DE_DESTINO_SIGLA', 'AEROPORTO_DE_DESTINO_NOME',
       'AEROPORTO_DE_DESTINO_UF', 'AEROPORTO_DE_DESTINO_REGIAO',
       'AEROPORTO_DE_DESTINO_PAIS', 'AEROPORTO_DE_DESTINO_CONTINENTE',
       'NATUREZA', 'GRUPO_DE_VOO', 'PASSAGEIROS_PAGOS', 'PASSAGEIROS_GRATIS',
       'CARGA_PAGA_KG', 'CARGA_GRATIS_KG', 'CORREIO_KG', 'ASK', 'RPK', 'ATK',
       'RTK', 'COMBUSTIVEL_LITROS', 'DISTANCIA_VOADA_KM', 'DECOLAGENS',
       'CARGA_PAGA_KM', 'CARGA_GRATIS_KM', 'CORREIO_KM', 'ASSENTOS', 'PAYLOAD',
       'HORAS_VOADAS', 'BAGAGEM_KG'],
      dtype='object')

In [108]:
# Lista de colunas a serem removidas
colunas_para_remover = ['EMPRESA_SIGLA', 'EMPRESA_NOME', 'EMPRESA_NACIONALIDADE', 'AEROPORTO_DE_ORIGEM_SIGLA', 
                        'AEROPORTO_DE_ORIGEM_UF', 'AEROPORTO_DE_ORIGEM_REGIAO', 
                        'AEROPORTO_DE_ORIGEM_CONTINENTE', 'AEROPORTO_DE_DESTINO_SIGLA', 
                        'AEROPORTO_DE_DESTINO_UF', 'AEROPORTO_DE_DESTINO_REGIAO', 
                        'AEROPORTO_DE_DESTINO_CONTINENTE', 'NATUREZA', 'GRUPO_DE_VOO', 'CARGA_PAGA_KG', 'CARGA_GRATIS_KG', 
                        'AEROPORTO_DE_ORIGEM_PAIS', 'AEROPORTO_DE_DESTINO_PAIS', 'COMBUSTIVEL_LITROS', 'DISTANCIA_VOADA_KM',
                        'CARGA_PAGA_KM', 'CARGA_GRATIS_KM', 'CORREIO_KM', 'ASSENTOS', 'PAYLOAD', 'HORAS_VOADAS', 'ATK', 'RTK']

# Removendo as colunas
Dados_Estatisticos = Dados_Estatisticos.drop(columns=colunas_para_remover)

# Exibindo o DataFrame resultante
print(Dados_Estatisticos.head())

    ANO  MES    AEROPORTO_DE_ORIGEM_NOME AEROPORTO_DE_DESTINO_NOME  \
0  2000    1                         NaN            MIAMI, FLORIDA
1  2000    1  DALLAS & FORT WORTH, TEXAS                 GUARULHOS
2  2000    1          NEW YORK, NEW YORK            RIO DE JANEIRO
3  2000    1          NEW YORK, NEW YORK                 GUARULHOS
4  2000    1              MIAMI, FLORIDA                   CONFINS

   PASSAGEIROS_PAGOS  PASSAGEIROS_GRATIS  CORREIO_KG       ASK       RPK  \
0              152.0                 9.0         0.0       NaN       NaN
1             3932.0               142.0        73.0  52184500  32415400
2             2338.0               131.0      8034.0  47293800  18070400
3             2892.0               127.0      1980.0  46896000  22164300
4              997.0                20.0         0.0       NaN       NaN

   DECOLAGENS  BAGAGEM_KG
0         NaN         NaN
1        30.0         NaN
2        29.0         NaN
3        29.0         NaN
4         NaN         NaN

In [109]:
# Criar a coluna 'DATA' combinando 'ANO' e 'MES'
Dados_Estatisticos['DATA'] = pd.to_datetime(Dados_Estatisticos['ANO'].astype(str) + '-' + Dados_Estatisticos['MES'].astype(str) + '-01')

# Criar a coluna 'PASSAGEIROS_TOTAL' somando PASSAGEIROS_PAGOS e PASSAGEIROS_GRATIS
Dados_Estatisticos['PASSAGEIROS_TOTAL'] = Dados_Estatisticos['PASSAGEIROS_PAGOS'] + Dados_Estatisticos['PASSAGEIROS_GRATIS']

# Remover a coluna MES
Dados_Estatisticos.drop(columns=['MES'], inplace=True)

# Exibir as primeiras linhas para verificar as mudanças
print(Dados_Estatisticos.head())

    ANO    AEROPORTO_DE_ORIGEM_NOME AEROPORTO_DE_DESTINO_NOME  \
0  2000                         NaN            MIAMI, FLORIDA
1  2000  DALLAS & FORT WORTH, TEXAS                 GUARULHOS
2  2000          NEW YORK, NEW YORK            RIO DE JANEIRO
3  2000          NEW YORK, NEW YORK                 GUARULHOS
4  2000              MIAMI, FLORIDA                   CONFINS

   PASSAGEIROS_PAGOS  PASSAGEIROS_GRATIS  CORREIO_KG       ASK       RPK  \
0              152.0                 9.0         0.0       NaN       NaN
1             3932.0               142.0        73.0  52184500  32415400
2             2338.0               131.0      8034.0  47293800  18070400
3             2892.0               127.0      1980.0  46896000  22164300
4              997.0                20.0         0.0       NaN       NaN

   DECOLAGENS  BAGAGEM_KG       DATA  PASSAGEIROS_TOTAL
0         NaN         NaN 2000-01-01              161.0
1        30.0         NaN 2000-01-01             4074.0
2        29.0         NaN 2000-01-01             2469.0
3        29.0         NaN 2000-01-01             3019.0
4         NaN         NaN 2000-01-01             1017.0

Depois disso eu percebi que a quantidade de dados faltantes iam me atrapalhar, então comecei a limpar ainda mais os dados. Descobri que precisaria da coluna mês novamente depois de ler o briefing 2.2.

In [156]:
# Filtrar os dados para CONFINS como origem ou destino
confins_origem = Dados_Estatisticos[Dados_Estatisticos['AEROPORTO_DE_ORIGEM_NOME'] == 'CONFINS']
confins_destino = Dados_Estatisticos[Dados_Estatisticos['AEROPORTO_DE_DESTINO_NOME'] == 'CONFINS']

# Concatenar os DataFrames filtrados
confins_df = pd.concat([confins_origem, confins_destino], ignore_index=True)

# Remover mais colunas ainda
confins_df.drop(columns=['AEROPORTO_DE_ORIGEM_NOME', 'AEROPORTO_DE_DESTINO_NOME', 'CORREIO_KG', 'ASK', 'RPK', 'DECOLAGENS', 'BAGAGEM_KG'], inplace=True)

# Definir o índice como 'ANO'
if 'ANO' in confins_df.columns:
    confins_df = confins_df.set_index('ANO')

# Converter o índice para int
confins_df.index = confins_df.index.astype(int)
confins_df.head()

      PASSAGEIROS_PAGOS  PASSAGEIROS_GRATIS       DATA  PASSAGEIROS_TOTAL
ANO
2000             1017.0                12.0 2000-01-01             1029.0
2000               31.0                28.0 2000-01-01               59.0
2000              684.0                21.0 2000-02-01              705.0
2000               31.0                14.0 2000-02-01               45.0
2000              821.0                18.0 2000-03-01              839.0

Aqui eu percebi que manter o índice como ANO não ia me ajudar se eu quisesse ordenar por mês em uma Dash, aí fui refazer. Deixando aqui registrado todo o processo.

In [157]:
# Definir 'DATA' como índice
confins_df = confins_df.set_index('DATA')

# Ordenar o DataFrame por índice
confins_df = confins_df.sort_index()

# Reamostrando dataframe
confins_df = confins_df.resample(rule='m').sum()

# Reorganizar as colunas
confins_df = confins_df.reset_index()
confins_df = confins_df[['DATA', 'PASSAGEIROS_TOTAL', 'PASSAGEIROS_PAGOS', 'PASSAGEIROS_GRATIS']]

confins_df.head()

        DATA  PASSAGEIROS_TOTAL  PASSAGEIROS_PAGOS  PASSAGEIROS_GRATIS
0 2000-01-31            84173.0            83019.0              1154.0
1 2000-02-29            48335.0            47796.0               539.0
2 2000-03-31            55642.0            55052.0               590.0
3 2000-04-30            56521.0            55903.0               618.0
4 2000-05-31            50979.0            50459.0               520.0

In [158]:
# Criar outro índice
confins_df['DATA'] = pd.to_datetime(confins_df['DATA'])
confins_df.set_index('DATA', inplace=True)
confins_df.head()

            PASSAGEIROS_TOTAL  PASSAGEIROS_PAGOS  PASSAGEIROS_GRATIS
DATA
2000-01-31            84173.0            83019.0              1154.0
2000-02-29            48335.0            47796.0               539.0
2000-03-31            55642.0            55052.0               590.0
2000-04-30            56521.0            55903.0               618.0
2000-05-31            50979.0            50459.0               520.0

In [163]:
# Checando
confins_df

            PASSAGEIROS_TOTAL  PASSAGEIROS_PAGOS  PASSAGEIROS_GRATIS
DATA
2000-01-31            84173.0            83019.0              1154.0
2000-02-29            48335.0            47796.0               539.0
2000-03-31            55642.0            55052.0               590.0
2000-04-30            56521.0            55903.0               618.0
2000-05-31            50979.0            50459.0               520.0
...                       ...                ...                 ...
2024-01-31           952006.0           925667.0             26339.0
2024-02-29           803075.0           781692.0             21383.0
2024-03-31           912349.0           889732.0             22617.0
2024-04-30           944031.0           922206.0             21825.0
2024-05-31           955447.0           934958.0             20489.0

[293 rows x 3 columns]

In [165]:
# Estabelecendo recorte temporal final
confins_final = confins_df['2010':'2024']
confins_final

            PASSAGEIROS_TOTAL  PASSAGEIROS_PAGOS  PASSAGEIROS_GRATIS
DATA
2010-01-31           603186.0           593355.0              9831.0
2010-02-28           505335.0           497935.0              7400.0
2010-03-31           576956.0           566768.0             10188.0
2010-04-30           565950.0           555812.0             10138.0
2010-05-31           543849.0           534582.0              9267.0
...                       ...                ...                 ...
2024-01-31           952006.0           925667.0             26339.0
2024-02-29           803075.0           781692.0             21383.0
2024-03-31           912349.0           889732.0             22617.0
2024-04-30           944031.0           922206.0             21825.0
2024-05-31           955447.0           934958.0             20489.0

[173 rows x 3 columns]

Essa parte novamente veio do 2.2 e 2.3. Modifiquei o formato do índice, criei novas colunas para obedecer ao que foi pedido, ordenei elas de forma que ficasse como pedido e criei o arquivo CSV sem o índice.

In [ ]:
# Colocar o índice DATA no formato certo
confins_final['DATA'] = pd.to_datetime(confins_final.index)

# Adicionar colunas 'ANO' e 'MES'
confins_final['ANO'] = confins_final['DATA'].dt.year
confins_final['MES'] = confins_final['DATA'].dt.month

# Adicionar coluna 'ANO-MES' no formato desejado
confins_final['ANO-MES'] = confins_final['DATA'].dt.strftime('%Y-%m')

# Reordenar as colunas
colunas_reordenadas = ['ANO-MES', 'ANO', 'MES', 'PASSAGEIROS_PAGOS', 'PASSAGEIROS_GRATIS', 'PASSAGEIROS_TOTAL']
confins_final = confins_final[colunas_reordenadas]

# Salvar o DataFrame em um arquivo CSV sem o índice
confins_final.to_csv('flights.csv', index=False)

Responda:

 - Qual é a granularidade temporal da base de dados: **A granularidade temporal aqui é mensal.**
 - Qual é o intervalo de tempo (min/max): **Vamos trabalhar na Dashboard com o período que vai de 2010 até 2024.**

### **2.2. Transformação**

Tranforme o texto da coluna `month` para sua representação numérica, exemplo: `Jan` para `1` e `Dec` para `12`.

In [ ]:
#Feito!

Crie uma chave temporal `year-month` no formato `YYYY-MM` através da concatenação das colunas `year` e `month`, exemplo: `1949-01`.

Reordene as colunas da seguinte forma: `year-month`, `year`, `month` e `passengers`.

### **2.3. Carregamento**

Persista o DataFrame em um arquivo com o nome `flights.csv`, no formato CSV. Garanta que o índice será descartado.

## 3\. Dashboard

Conduza os items **3.1** e **3.2** no [Google Data Studio](https://datastudio.google.com/).

### **3.1. Fonte de dados**

Crie a fonte de dados `flights-data` através do *upload* do arquivo `flights.csv`.

### **3.2. Relatório**

Crie o relatório `flights-report` utilizando a fonte de dados `flights-data`. Edite o relatório conforme sua criatividade (texto, cores, etc.). Compartilhe o relatório e copie o link abaixo:

 - KPI

Crie um filtro a nível de página com a dimensão `year`. Adicione um `scorecard` com uma `métrica` que represente a `soma dos passageiros em um determinado ano`. Note que o valor do `scorecard` deve ser dinâmico, ou seja, deve se alterar com o filtro temporal `year`.

 - EDA

Adicione um gráfico de série temporal (*time series chart*) utilizando com dimensão a coluna `year-month` e como métrica a soma da dimensão `passengers`. Note que o valor do gráfico deve ser dinâmico, ou seja, deve se alterar com o filtro temporal `year`.

 - Link

 > Link do relatório: **[Relatório](https://lookerstudio.google.com/reporting/b1cdf22b-fade-4bf2-8c17-4009b8901918)**

---